.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-black{
    background-color: var(--black-color);
}

.text-primary{
    color: var(--primary-color);
}

.text-white{
    color: var(--white-color);
}

.text-black{
    color: var(--black-color);
}

.text-red{
    color: var(--red-color);
}