.sidebar{
    height: 100%;
    width: 17%;
}

.list__items{
    padding-top: 3rem;
}

.list__item{
    padding: 1rem;
    padding-left: 2rem;
}

.list__item a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.logout{
    padding-top: 4rem;
}

.list__items .logout a{
    color: var(--red-color);
}

.list__items a:hover{
    color: var(--white-color);
} 

.logout a:hover{
    color: var(--white-color);
}

.list__item a i{
    margin-right: 0.5rem;
    position: relative;
    top: 3px;
}

.active{
    border: 1px solid var(--white-color);
    border-radius: 5px;
}