.sidebar{
    height: 100%;
    width: 17%;
}

.list__items{
    padding-top: 3rem;
}

.list__item{
    padding: 1rem;
    padding-left: 2rem;
}

.list__item a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.logout{
    padding-top: 4rem;
}

.list__items .logout a{
    color: var(--red-color);
}

.list__items a:hover{
    color: var(--white-color);
} 

.logout a:hover{
    color: var(--white-color);
}

.list__item a i{
    margin-right: 0.5rem;
    position: relative;
    top: 3px;
}

.active{
    border: 1px solid var(--white-color);
    border-radius: 5px;
}

@media (width<1000px){
    .sidebar{
        width: 25%;
    }
}

@media (width<700px){
    .sidebar{
        width: 50%;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 100%; /* Set the width to 100% for full screen */
        display: flex;
        justify-content: center;
    }

    .list__items{
        list-style: none;
        padding-top: 0rem;
    }
    .list__item a{
        font-size: 1rem;
    }
}
