.container{
    position: absolute;
    top: 18vh;
    left: 8vw;
    height: 82vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.inner-container{
    height: 70vh;
    width: 70vw;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.form-headings{
    background-color: var(--black-color);
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

span{
    font-size: 3vh;
}

form{
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
}

form input{
    margin-top: 3vh;
    outline: none;
    padding: 0.5vh;
    height: 5vh;
    width: 13%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.buttons{
    position: relative;
    top: 45vh;
    display: flex;
    justify-content:center;
}

button{
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    border-radius: 5px;
    padding: 2vh;
    margin: 0 20px;
    font-size: 2.5vh;
}

button:hover{
    cursor: pointer;
}

.outer-wrapper {
    margin:0 auto;
    max-width: fit-content;
    max-height: fit-content;    
}

.table-wrapper {
    overflow-y: scroll;
    height: fit-content;
    max-height: 25vh;
    padding-bottom: 10vh;   
}

table {   
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0px;        
}

table th{
    position: sticky; 
    top: 0px;
    background-color: var(--secondary-color);
    text-align: center;
    font-weight: normal;
    font-size: 4vh;
} 

table th, table td {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    text-align: left;
    font-size: 3vh;
    padding-left: 10vh;    
}