.timesheet {
    width: 60%;
    height: 80%;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    margin: auto;
}

.form__headings {
    width: 93%;
    margin: 0 auto;
}

.form__items {
    list-style: none;

    display: grid;
    grid-template-columns: 22% 17% 17% 22% 22%;
    justify-items: center;
    margin: 1rem 0rem;
}

.form__item {
    padding: 0.5rem;
}

.form__inputs {
    display: grid;
    grid-template-columns: 22% 17% 17% 22% 22%;
    justify-items: center;
    margin: 1rem 1.5rem;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgb(215, 215, 215);
    width: 8rem;
}

.time__input {
    width: 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15rem;
}

.btn {
    background-color: var(--primary-color);
    font-weight: bold;
    margin: 0 1rem;
}

.btn:hover {
    cursor: pointer;
}