.container{
    position: absolute;
    top: 18vh;
    left: 8vw;
    height: 82vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    height: 70vh;
    width: 70vw;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.form-headings{
    background-color: var(--black-color);
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

form{
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
}

form input{
    height: 30px;
    width: 12%;
    border-radius: 5px;
    border: none;
}

.buttons{
    position: relative;
    top: 250px;
    display: flex;
    justify-content:center;
}

button{
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px;
}

button:hover{
    cursor: pointer;
}